  
<h2 class="ui center aligned icon header">
  <i class="circular user orange icon"></i>
  Create an account
</h2>

<div class="ui centered raised card signup-form-card">
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Username</label>
        <input type="text" placeholder="Username">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="text" placeholder="Password">
      </div>
      <div class="field">
        <label>Confirm Password</label>
        <input type="text" placeholder="Confirm Password">
      </div>
      <button class="ui orange button" type="submit">Register</button>
    </form>
  </div>
</div>
